.home {
    background: url('../images/logo192.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-home {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
}

.div-home1 {
    text-align: left;
    /* Căn lề chữ sang trái */
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-end;
    height: 100%;
}

.div-home2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-aboutus {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.pesu1 {
    font-size: 50px;
    font-weight: bold;
    color: #177c39;
    margin-bottom: 0;
    width: 40%;
}



/////////////////
.chessboard-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px 0;

    img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    h2,
    p,
    ul {

        max-width: 600px; // Điều chỉnh theo nhu cầu
    }
}

.small-chess-image {
    max-width: 50%; // Giảm xuống 50% hoặc kích thước mong muốn
    height: auto; // Giữ tỉ lệ ảnh
}